In [93]:
#DESCRIBE

import numpy as np
import pandas as pd

In [94]:
data = pd.read_csv("Test.csv")
data

     A
0   19
1   36
2   25
3   15
4   16
5   79
6   54
7   16
8   44
9   55
10  26
11  85
12  13
13   8
14   2
15  13

In [95]:
md = data.median()

In [96]:
me = data.mean()

In [97]:
st = data.std()

In [98]:
data.skew()

A    1.049474
dtype: float64

In [132]:
import math
def mean(values):
    return sum(values)*1.0/len(values)

def stanDev(values):
    length= len(values)
    m = mean(values)
    total_sum= 0 
    for i in range(length):
        total_sum += (values[i]-m)**2
        under_root = total_sum*1.0/length 
    return math.sqrt(under_root)

def median(values):
    n  = len(values)
    if n<1:
        return None
    if n%2 == 1:
        return sorted(values)[n//2]
    else:
        return sum(sorted(values)[n//2-1:n//2+1])/2.0
    
    
def skew(values):
    m = mean(values)
    md= median(values)
    stdev= stanDev(values)
    skewness = (3*(me - md))/stdev
    return (skewness)
    
    
def describe(values):
    m= mean(values)
    md= median(values)
    stdev= stanDev(values)
    sk= skew(values)
    return(m,md,stdev,sk)

In [138]:
x=[1,2,3,4,5,6,7,8,9,15]
describe(data.A)

(31.625, 22.0, 24.292166947392733, A    1.188655
 dtype: float64)

In [139]:
data.skew()

A    1.049474
dtype: float64